:root {
--font-family: "Montserrat", sans-serif;
--second-family: "Poppins", sans-serif;
--third-family: "Roboto", sans-serif;
--main--header-color:#252B42;
--main--p--color:#F6F6F6;
}
.container {
  width: 1135px;
  padding: 0 15px;
  /* outline: 2px dashed blueviolet; */
  margin:0 auto;
}
/* header */
.header {
  margin-bottom: 54px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: auto;
}
.header-list {
  display: flex;
  gap: 104px;
  color: #252B42;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
}
.header-list .header-list-element:hover{
  color: #FA4A0C;
}
.header-list-element {
  position: relative; /* Добавлено позиционирование */
}

.header-list-element::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #FA4A0C;
  position: absolute;
  border-radius: 10px;
  bottom: -5px; /* Подчеркнем на 5px ниже */
  left: 0;
  opacity: 0; /* Изначально скрыто */
  transform: scale(0); /* Изначально скрыто */
  transition: transform 500ms ease, opacity 500ms ease; /* Анимация перехода */
}

.header-list-element:hover::after {
  opacity: 1; /* Показываем подчеркивание при ховере */
  transform: scale(1); /* Увеличиваем до полной ширины */
}
/* hero section */
.hero-section {
  margin-bottom: 56px;
  padding-top: 79px;
  padding-bottom: 162px;
  background-image: linear-gradient(rgba(23, 16, 16, 0.6), rgba(23, 16, 16, 0.6)),url(../img/hero-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-h2-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: center;
  color: #f6f6f6
}
h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.hero-paragraph {
  margin-bottom: 54px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #f6f6f6;
}
.btn-header-wrapper {
  margin-bottom: 162px;
  display: flex;
  justify-content: center;
  gap: 67px;
}
.first-hero-button {
  padding: 16px 65px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em;
  color:#fff;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  border: 1px solid #fff;
}
.second-hero-btn {
  padding: 16px 82px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em;
  color:#fff;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  border: 1px solid #fff;
}
.first-hero-button:hover {
  background-color: #FA4A0C;
  border: none;
  box-shadow: 0 10px 30px 0 rgba(183, 50, 39, 0.2);
  border: 1px solid #FA4A0C;
}
.second-hero-btn:hover {
  background-color: #FA4A0C;
  border: none;
  box-shadow: 0 10px 30px 0 rgba(183, 50, 39, 0.2); 
  border: 1px solid #FA4A0C;
}
/* app works section */
.app-works-section {
  margin-bottom: 184px;
}
.app-section-title {
  font-family: var(--second-family);
  text-align: center;
  font-weight: 600;
  font-size: 44px;
  line-height: 82%;
  letter-spacing: 0em;
  color: #000;
}
.app-section-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 108px;
}
.app-section-second-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.app-section-h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #fa4a0c;
}
.app-section-h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: #252b42;
}
.app-section-paragraph {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.01em;
  color: #737373; 
}
/* section order */
.section-order {
  margin-bottom: 78px;
  padding-top: 141px;
  padding-bottom: 141px;
  background-image:linear-gradient(rgba(23, 16, 16, 0.4), rgba(23, 16, 16, 0.4)),url(../img/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;

}
.section-order-h2 {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}
.section-order-paragraph {
  margin-bottom: 49px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}
.last-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.first-button {
  padding: 18px 31px;
  border: none;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}
.second-button {
  padding: 16px 45px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: transparent;
}
.first-button:hover {
  background-color: #FA4A0C;
  border: none;
  border: 1px solid #FA4A0C;
}
.second-button:hover {
  background-color: #FA4A0C;
  border: none;
  border: 1px solid #FA4A0C;
}
.footer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-paragraph {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: right;
  color: #5c5c5c;
}