// :root {
//   --font-family: "Montserrat", sans-serif;
//   --second-family: "Poppins", sans-serif;
//   --third-family: "Roboto", sans-serif;
//   --main--header-color:#252B42;
//   --main--p--color:#F6F6F6;
// }
$font-family: "Montserrat", sans-serif;
$second-family: "Poppins", sans-serif;
$third-family: "Roboto", sans-serif;
$main-header-color:#252B42;
$main-p-color:#F6F6F6;