.hero-section {
    @include paddings(80px , 160px);
    margin-bottom: 56px;
    height: 619px;
    padding-top: 80px;
    padding-bottom: 160px;     
    background-image: linear-gradient(rgba(23, 16, 16, 0.6), rgba(23, 16, 16, 0.6)),url(../img/hero-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 320px;

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url("../img/hero-bg@2x.jpg");
}
    @media screen  and (min-width:480px)  {
      @include paddings(108px , 128px);
      height: 100%;
    }
    @media screen  and (min-width:768px)  {
      width: 768px;
      @include paddings(118px , 118px);
    }
    @media screen  and (min-width:1200px)  {
      width: 1440px;
      height: 619px;
      padding-top: 80px;
      padding-bottom: 160px;       
    }
    &-title {
      @extend %text-subtitle;
      font-family: $font-family;
      // font-weight: 700;
      // font-size: 24px;
      // line-height: 150%;
      // letter-spacing: 0em;
      text-align: center;
      color: #f6f6f6;
      @media screen and (min-width:480px) {
        font-size: 12px;
      }
      @media screen  and (min-width:480px) {
        font-size: 28px;
      }
      @media screen  and (min-width:480px) {
        font-size: 52px;
      }
    }
    &-paragraph {
      margin-bottom: 54px;
      font-family: $font-family;
      font-weight: 500;
      font-size: 24px;
      line-height: 158%;
      letter-spacing: 0.01em;
      text-align: center;
      color: #f6f6f6;
      @media screen  and (min-width:480px) {
        margin-bottom: 27px;
      }
      @media screen  and (min-width:768px) {
        margin-bottom: 40px;
      }
      @media screen  and (min-width:1200px) {
        margin-bottom: 54px;
      }
    }
  }

.hero-wrapper {
    @include flexible(20px);
    margin-bottom: 162px;
    // display: flex;
    justify-content: center;
    // gap: 67px;
    @media screen  and (min-width:480px) {
      flex-direction: column;  
      align-items: center;
    }
    @media screen  and (min-width:768px) {
      flex-direction: row;  
      align-items: center;
      gap: 30px;
    }
    &-first-button {
      padding: 10px 52  px;
      font-family: $font-family;
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0em;
      color:#fff;
      border-radius: 30px;
      border: none;
      background-color: transparent;
      border: 1px solid #fff;
      &:hover {
        background-color: #FA4A0C;
        border: none;
        box-shadow: 0 10px 30px 0 rgba(183, 50, 39, 0.2);
        border: 1px solid #FA4A0C;
      }
    }   
    &-second-button {
      padding: 10px 52px;
      font-family: $font-family;
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0em;
      color:#fff;
      border-radius: 30px;
      border: none;
      background-color: transparent;
      border: 1px solid #fff;
      // &:hover {
      //   background-color: #FA4A0C;
      //   border: none;
      //   box-shadow: 0 10px 30px 0 rgba(183, 50, 39, 0.2);
      //   border: 1px solid #FA4A0C;
      // }
    }  
  }