.section-order {
  @include paddings (200px , 200px);  
  margin-bottom: 78px;
  // padding-top: 141px;
  // padding-bottom: 141px;
  background-image:linear-gradient(rgba(23, 16, 16, 0.4), rgba(23, 16, 16, 0.4)),url(../img/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url("../img/order-bg@2x.jpg");
}
  @media screen  and (min-width:480px)  {
    @include paddings(108px , 128px);
    height: 100%;
  }
  @media screen  and (min-width:768px)  {
    width: 768px;
    @include paddings(118px , 118px);
  }
  @media screen  and (min-width:1200px)  {
    width: 1440px;
    height: 619px;
    padding-top: 80px;
    padding-bottom: 160px;       
  }
 &-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
 }
 &-h2 {
  @extend %text-subtitle;
  margin-bottom: 10px;
  font-family: $font-family;
  // font-weight: 700;
  // font-size: 40px;
  // line-height: 142%;
  // letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}
 &-paragraph {
  margin-bottom: 49px;
  font-family: $font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 158%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  @media screen  and (min-width:480px) {
    font-size: 26px;
  }
  @media screen  and (min-width:768px) {
    font-size: 32px;
  }
  @media screen  and (min-width:1200px) {
    font-size: 49px;
  }
 }
}

.section-order-button {
  padding: 18px 31px;
  border: none;
  background-color: transparent;
  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;

  &:hover {
    background-color: #FA4A0C;
    border: none;
    border: 1px solid #FA4A0C;
  }

 }

.section-order-second-button {
  padding: 16px 45px;
  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: transparent;

  &:hover {
    background-color: #FA4A0C;
    border: none;
    border: 1px solid #FA4A0C;
  }

}
