.container {
  min-width: 320px;
  padding: 0 15px;
  outline: 2px dashed blueviolet; 
  margin:0 auto;
  @media screen  and (min-width:480px) {
    width: 480px;
  }
  @media screen  and (min-width:768px) {
    width: 768px;
  }
  @media screen  and (min-width:1200px) {
    width: 1200px;
  }
}
section {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  font-family: $second-family;
  font-weight: 700;
  font-size: 30px;
  line-height: 138%;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  @media screen and (min-width:768px) {
    font-size: 40px;
  }
  @media screen and (min-width:1200px) {
    font-size: 58px;
  }
}