.container {
  max-width: 1135px;
  padding: 0 15px;
  /* outline: 2px dashed blueviolet; */
  margin:0 auto;
}
section {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  font-family: $second-family;
  font-weight: 700;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}